.images{    
    display: flex;
    flex-direction: row;
}
.caption{
    text-align: center;
    font-family: cursive;
    font-weight: bold;
    color: #fff;;
    font-size: 50px;

}
.booknow-all{
    background-size: cover;
    background-image: url('./nature2.jpg');
    
}
p{
    color: #f8f2f2;
}
#pop-all{
    background-color:black ;
}
.hotel-pic{
    margin-right: 20px;
}
.hotels-all{
    background-color:black ;
}
h4{
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

.hotel-pic  figcaption{
    text-align: center;
}
.hotel-pic .book-button{
    text-align: center;
   transition: all 2s;
}
.book-button:hover{
padding: 20px;
}
.image{
    transition: all 2s;
    border-radius: 40px;
}
.image:hover{
    transform: scale(0.9);
    

}
.pop-gallery2{
    margin-top: 80px;
}

